body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 90%;
    max-width: 600px;
}

.card {
    width: 100%;
    padding-bottom: 100%; /* Ensures the card is a square */
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('tausta.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.matched {
    border-color: green;
    opacity: 0.4; /* Haalea efekti */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#congratulations {
    margin-top: 20px;
    font-size: 24px;
    color: green;
}
